@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
.container {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#4991e5), to(#695be4));
  background: linear-gradient(90deg, #4991e5, #695be4);
  height: 100vh;
  font-family: "Noto Sans";
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #71a9eb;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #71a9eb;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #3384e2;
}

.container {
  position: fixed;
  -webkit-box-shadow: 0 0 40px 7px rgba(0, 0, 0, 0.295);
          box-shadow: 0 0 40px 7px rgba(0, 0, 0, 0.295);
  border-radius: 5px;
  width: 268px;
}

.container .screen {
  padding: 1.5em;
  padding-top: 2.8em;
  text-align: right;
  background: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

.container .screen .app_buttons {
  position: absolute;
  left: 8px;
  top: 2px;
}

.container .screen .app_buttons .circle {
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 50%;
}

.container .screen .app_buttons .circle:nth-child(1) {
  background: #4991e5;
}

.container .screen .app_buttons .circle:nth-child(2) {
  background: #695be4;
}

.container .screen .app_buttons .circle:nth-child(3) {
  background: #2bc5a4;
}

.container .screen .operation {
  font-weight: lighter;
  color: #5f5f5f;
  font-size: 0.96em;
  width: 100%;
  min-height: 1.2em;
}

.container .screen .result {
  color: #4991e5;
  letter-spacing: -2px;
  margin-right: -10px;
  font-size: 4em;
  width: 100%;
  overflow-x: auto;
}

.container .button_table {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#4991e5), to(#695be4));
  background: linear-gradient(#4991e5, #695be4);
  width: 100%;
  text-align: center;
  border-spacing: 0;
  vertical-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .button_table tr:not(:last-child) td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.065);
}

.container .button_table td:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.065);
}

.container .button_table button {
  font-family: inherit;
  font-size: 1.05em;
  outline: none;
  border: none;
  color: inherit;
  background: none;
  display: block;
  width: 66px;
  height: 66px;
}

.container .button_table button:hover {
  background: rgba(255, 255, 255, 0.034);
  cursor: pointer;
}

.container .button_table .last_col button {
  background: rgba(3, 36, 109, 0.079);
}

.container .button_table .last_col button:hover {
  background: rgba(3, 37, 109, 0.116);
  cursor: pointer;
}

.container .button_table td.equal button {
  background: linear-gradient(45deg, #2bc5a4, #2bc3a3);
  border-bottom-right-radius: 5px;
  text-align: center;
  width: 100%;
}

.container .button_table td.equal button:hover {
  background: linear-gradient(45deg, #2bc3a2, #29bd9d);
}

.container .button_table td.cero button {
  border-bottom-left-radius: 5px;
}
/*# sourceMappingURL=main.css.map */